<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://sarwinmvc-001-site1.atempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>sarwinmvc-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>ifc\sarwinmvc-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="EFDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5006.myASP.NET;Initial Catalog=DB_A12A28_SportStore;User ID=DB_A12A28_SportStore_admin;Password=01610715_myMVC" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SportsStore.Domain.Concrete.EFDbContext, SportsStore.Domain" MigrationConfiguration="SportsStore.Domain.Migrations.Configuration, SportsStore.Domain" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EFDbContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL5006.myASP.NET;Initial Catalog=DB_A12A28_SportStore;User ID=DB_A12A28_SportStore_admin;Password=01610715_myMVC</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>